events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile on;
    keepalive_timeout 65;

    server {
        listen 8081;
        root /var/www/html/app1;
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }

    server {
        listen 8082;
        root /var/www/html/app2;
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }
}